body, html {
    height: 100%;
}

/*Homepage Css*/

#homepage-container { 
    background-image: url("../images/homepage-monkey.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: transparent;
    z-index: 1000;
    position: absolute;
    min-height: 85vh;
}

.navbar-toggler {
    position: absolute;
    top: 55px;
    background-color: lightblue;
}

#sidebar.active {
    margin-left: -250px;
}

.list-unstyled{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: GoudyStout;
    font-size: 2vw;
    color: black;
}

.list-unstyled a {
    color:black;
}

.list-unstyled li {
    padding: 5px;
    border: black 1px solid;
    width: 100%;
    margin: 10% 25px 0% 25px;
}

@media (max-width: 991px) {
    .list-unstyled li {
        margin: 10% 0px 0% 0px;
    }

    .list-unstyled {
        font-size:2vw;
        background-color: lightblue;
        top:90px;
        transform: none;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 10px;
    }

    .nav-link{
        padding: 0px 0px;     
    }

    #sidebar{
        min-width: 120px;
        min-height: 0;
    }
}

#bottom-right-corner {
    position:fixed;
    bottom:5px;
    right:5px;
    font-family: GoudyStout;
    font-size: 1.3vw;
}

#bottom-right-corner div{
    text-align: right;
    padding: 5px;
}

#bottom-right-corner a{
    background: transparent;
    border: transparent;
}

#newsletter-large {
    color:black;
    border: black 1px solid !important;
}

#newsletter-small{
    color:black;
    border:black 1px solid !important;
    display: none;
}

.title {
    width: 100%;
    text-align: center;
    font-family: GoudyStout;
}

#title-part-1, #title-part-2{
    width:35%;
    font-size: 4.5vw;
    display: inline-block;
}

#title-part-1{
    float:left;
}

#title-part-2{
    float:right;
}

@media only screen and (max-width: 991px) {
    #newsletter-large{
        display:none;
    }

    #newsletter-small{
        display: block;
    }
}

/*Common page css*/

.page-container {
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header{
    width: 100%;
    text-align: center;
    height:20%;
}

.home{
    float:right;
    background-color: white;
    right: 15px;
    top: 15px;
    position: absolute;
    border-radius: 50%;
    height: 85px;
    opacity: .5;
}

.home img{
    max-width:75%;
    height:auto;
}


/*Newsletter Css*/

#newsletter-container {
    background-image: url("../images/audio-black-and-white.jpg");
}

#newsletter-container #newsletter-title {
    color:black;
    font-family: BroadwaySCD;
    font-size: 4rem;
    width: 60%;
    float: left;
}

#newsletter-form {
    font-family: BroadwaySCD;
    width:50%;
    padding:0px 20px 0px 20px;
}

#email-label, #notification-label{
    font-size: 3rem;
}

#email-textbox, #notification-checkboxes {
    font-size: 2rem;
}

#email {
    width:100%;
}

#notifications {
    margin-top: 35px;
}

#notification-checkboxes input[type=checkbox]{
    transform: scale(4) !important;
    margin:15px;
}

#notification-footer {
    text-align: center;
    font-family: BroadwaySCD;
    font-size: 3vw;
    position:fixed;
    bottom:30px;
    left:40%;
}

#newsletter-submit {
    font-size: 2vw;
    margin-top: 20px;
}

@media (max-width:991px){
    #notification-checkboxes input[type=checkbox]{
        transform: scale(2) !important;
    }

    #newsletter-container #newsletter-title{
        font-size:2.5rem;
    }

    #email-label, #notification-label{
        font-size: 1.5rem;
    }
    
    #email-textbox, #notification-checkboxes {
        font-size: 1rem;
    }

    #newsletter-form {
        width:100%;
    }
}

/*Blog Css*/

#blog-container {
    background-image: url("../images/record.jpg");
}

#blog-container .row{
    margin-right: 0px;
    margin-left: 0px;
}

#blog-container #blog-title {
    color:#009EBC;
    font-family: BroadwaySCD;
    width: 40%;
    font-size: 4rem;
    float: left;
}

.blog-post {
    background-color:#009EBC;
    padding: 20px;
    border-radius: 20px;
    margin-bottom:20px;
}

.blog-image img {
    width:210px;
    margin-right: 15px;
}

.blog-image{
    float:left;
}

.blog-text a{
    color:black;
}

/*Tours Css*/

#tours-container {
    background-image: url("../images/applause-audience-band.jpg");
}

#tours-container #tour-title {
    color:white;
    font-family: BroadwaySCD;
    width: 25%;
    font-size: 4rem;
    float: left;
}

#events-list{
    background: rgba(255, 255, 255, 0.8);
    padding-bottom: 10px;
    padding-top: 10px;
}

#tour-dates-container {
    font-size: 3rem;
    color:white;
    padding-left:0px;
    font-family: BroadwaySCD;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tour-section-title {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    opacity: 1;
    font-size: 2rem;
    font-family: BroadwaySCD;
}

.btn-outline-danger {
    color: #591F1C;
    border-color: #591F1C;
}

.btn-outline-danger:hover {
    background-color: #591F1C;
    border-color: #591F1C;
}

.tour-section-item{
    color: #591F1C;
    font-size: 1.3rem;
}

.event-row{
    padding-top:5px;
    padding-bottom: 5px;
}

@media (max-width:768px) {
    .tour-section-title {
        font-size: 1rem;
    }
    .tour-section-item {
        font-size:.8rem;
    }
    .tour-section-item button{
        font-size: .6rem;
    }
}

/*Music Css*/

#music-container {
    background-image: url("../images/cassette-tape.jpg");
}

#music-container #music-title {
    color:#009EBC;
    font-family: BroadwaySCD;
    width: 25%;
    font-size: 4rem;
    float: left;
}

.album-title{
    color:#009EBC;
    font-size:3rem;
}

#album-image{
    text-align: center;
}

.active-song{
    text-align: center;
}

.active-song-title{
    font-size: 2rem;
    color: #009EBC;
}

.music-controls img{
    width:35px;
}

.active-song img {
    width:100px;
}

.next-image{
    transform: rotateY(180deg);
}

.music-controls {
    text-align: right;
}

.main-song-row{
    border-bottom: grey 10px solid;
    border-radius: 10px;
}

.song-row div{
    padding:10px;
}

.buy-song{
    text-align: right;
}

.song-row{
    border-bottom: grey 1px solid;
}

/*About Css*/

#about-container {
    background-image: url("../images/music.jpg");
}

#about-container #about-title {
    color:black;
    font-family: BroadwaySCD;
    width: 25%;
    font-size: 4rem;
    float: left;
}

#about {
    background: rgba(0, 158, 188);
    padding: 30px;
    border-radius: 10px;
    font-size: 1.5rem;
}